
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.header {
    width: 100%;
    text-align: center;
    background-color: bisque;
    margin: 0;
    padding: 20px;
    border: 0;
}
body {
    width: 100%;
    background-color: bisque;

}

.navbar {
    background-color: rgb(78, 72, 77);
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
    width: 100%;
}
.navbar ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    display: block;
    color: white;
}

.navbar ul li a:hover {
    color: blue;
}
#social-list {
    text-align: center;
}

#social-list > li {
    font-weight: bold;
}
#social-list li ~ li {
    color: blue;
}
#social-list li + li {
    text-decoration: underline;
}
#social-list li[class^="social"] {
    background-color: blue;
}
#social-list li::before {
    content: "🔗 ";
}
#form{
    width:auto;
    text-align: center;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 25%;
    margin: 0 auto; /* Center horizontally */
}

h2 {
    text-align: center;
}

.input-container {
    margin-bottom: 15px;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
}

.input-container input {
    width: 100%;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.button-container {
    display: flex;
    margin-top: 30px;
    justify-content: center;
}
#submit-button {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #ffd400;
    color: #242424;
    cursor: pointer;
    font-size: 16px;
}

#submit-button:hover {
    background-color: #242424;
    color: #ffffff;
}

#message-panel {
    margin-top: 15px;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
}
.error {
    background-color: red;
    color: #ffffff;
}

.success {
    background-color: green;
    color: #ffffff;
}


@media only screen and (max-width: 992px) {
    .navbar ul {
        flex-direction: column;
    }
    .navbar ul li {
        margin-bottom: 10px;
    }
    .links-table {
        flex-wrap: wrap;
    }
    .links-table tr {
        flex-direction: column;
        align-items: center;
    }
    .form-container{
        width:80%;
    }
}

@media only screen and (max-width: 768px) {
    .navbar {
        padding: 10px;
    }

    .navbar ul {
        margin-top: 0;
    }

    .photo-container {
        padding: 10px;
    }

}