
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.header {
    width: 100%;
    text-align: center;
    background-color: bisque;
    margin: 0;
    padding: 20px;
    border: 0;
}
body {
    width: 100%;
    background-color: bisque;
}

.navbar {
    background-color: rgb(78, 72, 77);
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
    width: 100%;
}
.navbar ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    display: block;
    color: white;
}

.navbar ul li a:hover {
    color: blue;
}

.specs {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-align: center;
}
h2 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-align: center;
    font-size: 30px;
}
.specs > li {
    font-size: 20px;
    font-weight: bold;
}

.video-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    margin: 20px;
    grid-template-areas:
        "b c"
        "a d";
}

.video {
    display: flex;
    margin: 20px;
    justify-content: space-evenly;
}

#video1 {
    grid-area: a;
}

#video2 {
    grid-area: b;
}

#video3 {
    grid-area: c;
}
#video4 {
    grid-area: d;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.buttons {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#color1-btn {
    background-color:green;
    color: #fff;
}

#color2-btn {
    background-color:green;
    color: #fff;
}
.scheme1 {
    background-color: #f0f0f0;
    color: #333;
}

.scheme2 {
    background-color: lightpink;
    color: black;
}
@media only screen and (max-width: 992px) {
    .navbar ul {
        flex-direction: column;
    }
    .navbar ul li {
        margin-bottom: 10px;
    }
    .links-table {
        flex-wrap: wrap;
    }
    .links-table tr {
        flex-direction: column;
        align-items: center;
    }
    .video-container {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        margin: 20px;
        grid-template-areas:
        "b"
        "c"
        "d"
        "a";
    }
}


@media only screen and (max-width: 768px) {
    .navbar {
        padding: 10px;
    }

    .navbar ul {
        margin-top: 0;
    }

    .photo-container {
        padding: 10px;
    }

    .photo {
        margin: 10px auto;
    }
    .video-container {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        margin: 20px;
        grid-template-areas:
        "b"
        "c"
        "d"
        "a";
    }
}
